<h2>Employee List</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Photo</th>
        <th>Emp ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Position</th>
        <th>Actions</th>
    </tr>

    {% for emp in employees %}
    <tr>
        <td>
            {% if emp.profile_photo %}
                <img src="{{ emp.profile_photo.url }}" width="50">
            {% else %}
                No Image
            {% endif %}
        </td>
        <td>{{ emp.emp_id }}</td>
        <td>{{ emp.full_name }}</td>
        <td>{{ emp.user.email }}</td>
        <td>{{ emp.department.dept_name }}</td>
        <td>{{ emp.position }}</td>
        <td>
            <a href="{% url 'update_employee' emp.emp_id %}">Edit</a> |
            <a href="{% url 'delete_employee' emp.emp_id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
